h1 {
 color: darkseagreen;
 background-color: black;
 font-style: oblique;
 font-size: small;
}
h3 {
color: darkseagreen;
font-size: medium;
}
h2 {
    color: darkseagreen;
    font: caption;
    font-size: larger;
    font-weight: bold;
}






